body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: #3351a3;
  width: 200px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  text-align: left;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  outline: none;
  color: white;
  font-size: 2em;
}

button:hover {
  background-color: #4751a3;
}
